<h1>Edit Actor <%= @actor.id %></h1>

<form action="/update_actor/<%= @actor.id %>">
  <div>
    <label for="image_url_input">
      Image URL
    </label>

    <input id="image_url_input" type="text" name="image_url" value="<%= @actor.image_url %>">
  </div>
  
  <div>
    <label for="name_input">
      Name
    </label>

    <input id="name_input" type="text" name="name" value="<%= @actor.name %>">
  </div>

  <div>
    <label for="dob_input">
      DOB
    </label>

    <input id="dob_input" type="text" name="dob" value="<%= @actor.dob %>">
  </div>
  
  <div>
    <label for="bio_input">
      Bio
    </label>

    <input id="bio_input" type="text" name="bio" value="<%= @actor.bio %>">
  </div>
  

  <button>
    Update Actor
  </button>
</form>