<h1>Edit Director <%= @director.id %></h1>

<form action="/update_director/<%= @director.id %>">
  <div>
    <label for="image_url_input">
      Image url
    </label>

    <input id="image_url_input" type="text" name="image_url" value="<%= @director.image_url %>">
  </div>
  
  <div>
    <label for="name_input">
      Name
    </label>

    <input id="name_input" type="text" name="name" value="<%= @director.name %>">
  </div>

  <div>
    <label for="dob_input">
      Dob
    </label>

    <input id="dob_input" type="text" name="dob" value="<%= @director.dob %>">
  </div>
  
  <div>
    <label for="bio_input">
      Bio
    </label>

    <textarea id="bio_input" name="bio"><%= @director.bio %></textarea>
  </div>
  

  <button>
    Update director
  </button>
</form>