<h1>Director Details</h1>

<p>
  <%= @director.name %>
</p>

<img src="<%= @director.image_url %>">

<p>
  <%= @director.dob %>
</p>

<p>
  <%= @director.bio %>
</p>


<a href="/directors" class="btn btn-default">
  Go back
</a>

<a href="/directors/<%= @director.id %>/edit" class="btn btn-default">
  Edit
</a>

<a href="/delete_director/<%= @director.id %>" class="btn btn-default">
  Delete
</a>